{% extends 'Base.html' %} {% block title %} Production {% endblock title %} {% block body %}

<section class="bg-light p-5 w-100">
    {% for message in messages %}
    <div class="alert alert-success {% if message.tags == 'error' %} alert-danger {% endif %}" role="alert">
        <strong>Message: </strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <h4 class="text-center my-3">Create Entry of Products</h4>
    <div class="container  my-4 d-flex w-20">

        <form action="" method="post">
            {% csrf_token %}
            <label for="number" class="form-label">Select Products:</label>
            <select name="pro" id="pro" class="px-3">
    <option value="">None</option>
    </select>

            <div class="conatiner input my-2">
                <input type="text" class="form-control" id="number" name="number" placeholder="Number of products" required="required">
            </div>

            <button type="submit" class="btn btn-warning my-2" value="register">Submit</button>


        </form>

    </div>
    <h3 class="pb-4 my-2">Manufactured Products with Details</h3>

    <div class="table-responsive table table-bordered">
        <table class="table bg-white" id="example-table">
            <thead class="bg-dark text-light">
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Product Price(Per Product)</th>
                    <th>Product Description</th>
                    <th>Total Products in Stock</th>


                </tr>
            </thead>
            <tbody id="production"></tbody>
        </table>
    </div>
</section>







<script>
    dropdown = () => {

        fetch(`${window.location.origin}/manufacturer/seeproducts/`)
            .then(res => res.json())
            .then(data => document.getElementById('pro').innerHTML = data.map((val, k) =>

                    `<option value=${val['name']}>${val['name']}</option>`


                )



            )


    }
    dropdown()

    products = () => {

        fetch(`${window.location.origin}/manufacturer/manufacturedproducts/`)
            .then(res => res.json())
            .then(data =>
                document.getElementById("production").innerHTML = data.map((val, k) =>

                    `
                    <tr>
                    <td>${val['id']}</td>
                    <td>${val['name']}</td>
                    <td>${val['price']}</td>
                    <td>${val['desc']}</td>
                    <td>${val['number']}</td>
                    </tr>
                    `

                )
            )

    }
    products()
</script>
{% endblock body %}