{% extends 'Base.html' %} {% block title %} Sell {% endblock title %} {% block body %}


<section class="bg-light p-5 w-100" id="entirePage">
    {% for message in messages %}
    <div class="alert alert-success {% if message.tags == 'error' %} alert-danger {% endif %}" role="alert">
        <strong>Message: </strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <h4 class="text-center my-3">Sell Products</h4>
    <div class="container  my-4 d-flex w-20">

        <form action="" method="post">
            {% csrf_token %}
            <label for="number" class="form-label">Select Products:</label>
            <select name="pro" id="pro" class="px-3">
    <option value="">None</option>
    </select>


            <div class="conatiner input my-2">
                <label for="number" class="form-label">How Many Number of Products:</label>
                <input type="text" class="form-control" id="number" name="number" placeholder="Number of products" required="required">
            </div>

            <button type="submit" class="btn btn-primary my-2" value="register">Sell</button>


        </form>

    </div>
</section>
<section class="bg-light p-5 w-100">
    <h3 class="pb-4 my-2">Selling History:</h3>

    <div class="table-responsive table table-bordered">
        <table class="table bg-white" id="example-table">
            <thead class="bg-dark text-light">
                <tr>

                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Product Quantity</th>
                    <th>Total Price</th>



                </tr>
            </thead>
            <tbody id="retailers"></tbody>
        </table>
    </div>
    <div class="container d-flex justify-content-center">
        <button class="btn btn-warning" id="print">Print</button>
    </div>
</section>

<script>
    let list = new Set();
    let item = []
    dropdown = () => {
   

        fetch(`${window.location.origin}/retailer/getproducts/`)
            .then(res => res.json())
            .then(data => {
                for (let i = 0; i < data.length; i++) {
                    list.add(data[i]['p_name'])
                }
                list.forEach(function(value) {
                    item.push(value)
                })
                document.getElementById('pro').innerHTML = item.map((val, k) =>
                    `<option value=${val}>${val}</option>`
                )
            })



    }
    dropdown()



    document.getElementById('print').onclick = () => {
        let a = document.getElementById('entirePage');
        let b = document.getElementById('print');

        a.style.display = 'none'
        b.style.display = 'none'

        window.print()
    }




    distdetails = () => {
        fetch(`${window.location.origin}/retailer/distributiondetails/`)
            .then(res => res.json())
            .then(data => document.getElementById("retailers").innerHTML = data.map((val, k) =>

                `<tr >

                    <td>${val['product_id']}</td>
                    <td>${val['product_name']}</td>
                    <td>${val['product_quantity']}</td>
                    <td>${val['total_price']}</td>
    
                </tr>   
                `
            ))
            .catch(err => console.log(err))


    }
    distdetails()
</script>
{% endblock body %}