{% extends 'Base.html' %} {% load static %} {% block title %} Home {% endblock title %} {% block body %} {% if request.user.is_anonymous %}

<div class="main">
    <div class="container button">



    </div>



</div>



{% else %}
 
{% ifequal request.user.last_name "Admin" %} 
{% include 'adminhome.html' %} 
{% else %} 
{% ifequal request.user.last_name "Manufacturer" %} 
{% include 'manufacthome.html' %}  
{% else %}
{% ifequal request.user.last_name "Distributor" %} 
dist 
{% else %} 
{% ifequal request.user.last_name "Retailer" %} 
Retailer 
{% else %} 
superuser 
{% endifequal %} 
{% endifequal%} 
{% endifequal %} 
{% endifequal %} 
{% endif %} 
{% endblock body %}
