
{% if request.user.is_anonymous %}






  {% else %}

  {% ifequal request.user.last_name "Admin" %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">E-Shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><i class="fa fa-home" style="font-size:15px"></i>Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/administrator/pendings/"><i class='fa fa-hourglass-half' style='font-size:15px'></i>Pending Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/administrator/approveusers/"><i class='fas fa-user-tie' style='font-size:15px'></i>Approved Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/administrator/delteduser/"><i class='fa fa-trash' style='font-size:15px'></i>Deleted Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/logout/"><i class="fas fa-sign-out" style="font-size:15px"></i>Logout</a>
          </li>
        </ul>
  </nav>

  {% else %}
  {% ifequal  request.user.last_name "Manufacturer" %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">E-Shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><i class="fa fa-home" style="font-size:15px"></i>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/manufacturer/distributorChannel/"><i class="fa fa-globe" style="font-size:15px"></i>Distributor Network</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/manufacturer/setproducts/"><i class="fa fa-plus-circle" style="font-size:15px"></i>Add Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/manufacturer/production/"><i class="fa fa-shopping-basket" style="font-size:15px"></i>Production</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/manufacturer/distribution/"><i class="fa fa-share" style="font-size:15px"></i>Distribute</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/logout/"><i class="fas fa-sign-out" style="font-size:15px"></i>Logout</a>
          </li>
        </ul>
  </nav>
  {% else %}
  {% ifequal  request.user.last_name "Distributor" %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">E-Shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><i class="fa fa-home" style="font-size:15px"></i>Home</a>
          </li>
     
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/distributor/retailerChanel/"><i class="fa fa-globe" style="font-size:15px"></i>Retailer Network</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/distributor/manufacturerchanel/"><i class="fa fa-globe" style="font-size:15px"></i>Manufacturer Network</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/distributor/products/"><i class="fa fa-shopping-basket" style="font-size:15px"></i>Products in Stock</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/distributor/distribute/"><i class="fa fa-share" style="font-size:15px"></i>Distribute</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/logout/">Logout</a>
          </li>
        </ul>
  </nav>

{% else %}
{% ifequal  request.user.last_name "Retailer" %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><i class="fa fa-home" style="font-size:15px"></i>Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/retailer/stock/"><i class="fa fa-shopping-basket" style="font-size:15px"></i>Products in Stock</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/retailer/sell/"><i class="fa fa-share" style="font-size:15px"></i>Sell the Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/logout/"><i class="fas fa-sign-out" style="font-size:15px"></i>Logout</a>
        </li>
      </ul>
</nav>
{% endifequal %}
  {% endifequal %}
  {% endifequal %}
{% endifequal %}
{% endif %}
