{% extends 'Base.html' %} {% block title %} Pending {% endblock title %} {% block body %}


<section class="bg-light p-5">
    {% for message in messages %}
    <div class="alert alert-success {% if message.tags == 'error' %} alert-danger {% endif %}" role="alert">
        <strong>Message: </strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <form action="" method="post">
        {% csrf_token %}
        <select name="role" id="role" class="px-3">
    <option value="">None</option>
    </select>
        <button type="submit" class="btn btn-danger" value="register">Delete</button>


    </form>

    <form action="" method="post" class="my-3">
        {% csrf_token %}
        <select name="approved" id="approved" class="px-3">
            <option value="">None</option>
    </select>
        <button type="submit" class="btn btn-success" value="register">Approve</button>
    </form>

    <h3 class="pb-4 my-2">Requests</h3>

    <div class="table-responsive table table-bordered">
        <table class="table bg-white" id="example-table">
            <thead class="bg-dark text-light">
                <tr>
                    <th>Serial Number</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>WhatsApp</th>
                    <th>Role</th>

                </tr>
            </thead>
            <tbody id="dog"></tbody>
        </table>
    </div>
</section>
<script src="/static/scripts/administrator/script.js"></script>

{% endblock body %}